apiVersion: apps/v1
kind: Deployment
metadata:
  name: url-shortener
  labels:
    app: url-shortener
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  replicas: 1
  selector:
    matchLabels:
      app: url-shortener
  template:
    metadata:
      labels:
        app: url-shortener
        component: app
    spec:
      terminationGracePeriodSeconds: 5
      containers:
        - name: url-shortener
          image: acrurlshortener2261.azurecr.io/url-shortener:java-v2
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 9090
          envFrom:
            - configMapRef:
                name: redis-config
          volumeMounts:
            - name: config-volume
              mountPath: /app/config.json
              subPath: config.json
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres-postgresql:5432/urlshortener"
            - name: SPRING_DATASOURCE_USERNAME
              value: "postgres"
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-postgresql
                  key: postgres-password
            - name: APP_PORT
              value: "9090"
            - name: BASE_URL
              value: "https://myurlshortener.westus3.cloudapp.azure.com"
            - name: APP_BASE_URL
              value: "https://myurlshortener.westus3.cloudapp.azure.com"
          livenessProbe:
            tcpSocket:
              port: 9090
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/v1/health
              port: 9090
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
      volumes:
        - name: config-volume
          configMap:
            name: app-config
