apiVersion: apps/v1
kind: Deployment
metadata:
  name: url-shortener
  labels:
    app: url-shortener
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  replicas: 1
  selector:
    matchLabels:
      app: url-shortener
  template:
    metadata:
      labels:
        app: url-shortener
        component: app
    spec:
      terminationGracePeriodSeconds: 5
      containers:
        - name: url-shortener
          image: acrurlshortener2261.azurecr.io/url-shortener:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 9090
          envFrom:
            - secretRef:
                name: external-postgres
            - configMapRef:
                name: redis-config
          env:
            - name: APP_PORT
              value: "9090"
            - name: APP_BASE_URL
              value: "https://urlshortener-rajesh.westus3.cloudapp.azure.com"
          livenessProbe:
            tcpSocket:
              port: 9090
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/v1/health
              port: 9090
            initialDelaySeconds: 10
            periodSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
