apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: url-shortener
  labels:
    app: url-shortener
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: url-shortener
            port:
              number: 9090
