apiVersion: v1
kind: Service
metadata:
  name: url-shortener
  labels:
    app: url-shortener
  annotations:
    service.beta.kubernetes.io/azure-dns-label-name: myurlshortener
spec:
  type: ClusterIP
  selector:
    app: url-shortener
    component: app
  ports:
    - name: http
      port: 80
      targetPort: 9090
